h1 {
  text-align: center;
}

.container {
  vertical-align: middle;
}

.searchButton {
  text-align: center;
}

.btn-primary {
  margin-top: 50px;
}

.card-body {
  margin-top: 50px;
}

.highlight {
  color: black;
  font-weight: bold;
}